---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SocialPill from "../components/SocialPill.astro";
import Proyects from "../components/Proyects.astro";
import SectionContainer from "../components/SectionContainer.astro";

import BriefCase from "../components/icons/BriefCase.astro";
import Code from "../components/icons/Code.astro";
import GitHub from "../components/icons/Github.astro";
import Instagram from "../components/icons/Instagram.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Mail from "../components/icons/Mail.astro";
import Tecnologies from "../components/Tecnologies.astro";
---

<Layout
  title="Portfolio Toto - Desarrollador y Programador Web."
  description="Contactame para crear tu aplicacion web. Desarrollador web especializado en desarrollo de aplicaciones webs únicas y dinamicas.">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-44 pb-32">
      <img
        src="/photo.jpg"
        class="rounded-full size-16 md:size-24 mb-4 object-cover"
        alt="photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hola, soy Tomás.
        <a
          href="https://iwebtecnology.com"
          target="_blank"
          class="flex justify-center items-center hover:scale-105 transition">
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-gray-300">
        <span>+2 años de experiencia.</span>
        <span class="text-blue-300">Desarrollador de Software</span>
        <span>de Buenos Aires, Argentina.</span>
        <span class="opacity-75"
          >Especializado en crear aplicaciones únicas y dinámicas.</span
        >
      </h2>
      <nav class="flex gap-2 md:gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/tomas-barajas-935b39295">
          <Linkedin class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/ttttttomas">
          <GitHub class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:totobarajas124@gmail.com">
          <Mail class="size-4 md:size-6" />
          Contactame!
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia" class="py-12 md:py-24">
      <h2
        class="text-2xl md:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80">
        <BriefCase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="tecnologias" class="py-12 md:py-24">
      <h2
        class="text-2xl md:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80">
        <Code class="size-7" />
        Tecnologías
      </h2>
      <Tecnologies />
    </SectionContainer>

    <SectionContainer id="proyectos" class="py-12 md:py-24">
      <h2
        class="text-2xl md:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80">
        <Code class="size-7" />
        Proyectos
      </h2>
      <Proyects />
    </SectionContainer>
  </main>
</Layout>
