---
import ExperienceItem from '../components/ExperienceItem.astro'

const EXPERIENCE = [
    {
        date: 'Feb 2024 - Actualmente...',
        title: 'Desarrollador de Software Full Stack',
        description: 'Trabajando de forma autonoma desarrollando webs con diferentes lenguajes y/o plataformas para empresas, emprendimientos, etc. ',
        link: 'https://iwebtecnology.com',
    },
    {
        date: 'Nov 2022 - Feb 2024',
        title: 'Carlos Martinez Construcciones S.R.L',
        description: 'Coordinador de proyectos y tareas administrativas como computos y presupuestos, facturación, Gmail, coordinación de tareas, herramientas de gestión, manejo de pagina web de la empresa.',
    }
]
---
<ol class="relative mt-16">
    {
    EXPERIENCE.map(experience =>(
        <li class="">
            <ExperienceItem {...experience} />
        </li>
    ))
    }                  
</ol>

