---
interface Props{
    title: string
    description: string
    link?: string
    date: string
}
const {title, description, link, date} = Astro.props
---
<div
  class="relative mx-4 md:mx-12 pb-12 grid before:absolute before:left-[-20px] md:before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10"
>
  <div class="relative pb-4 md:pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span
        class="text-blue-400 -left-[27px] md:-left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >
      <h3 class="text-xl font-bold text-blue-400">{title}</h3>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
        >{date}</time
      >
    </div>
  </div>
  <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
    {description}
    {
      link && (
        <a
          href={link}
          target="_blank"
          role="link"
          class="inline-flex items-center text-lg font-medium text-blue-500 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-300"
        >
          Saber más{" "}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </a>
      )
    }
  </div>
</div>