---
import AstroIcon from "./icons/AstroIcon.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import JavaScript from "./icons/JavaScript.astro";
import TypeScript from "./icons/TypeScript.astro";
import NodeJS from "./icons/NodeJS.astro";
import Python from "./icons/Python.astro";
import Git from "./icons/Git.astro";
import MySQL from "./icons/MYSQL.astro";
import FastAPI from "./icons/Fastapi.astro";
import CPP from "./icons/CPP.astro";
import Express from "./icons/Express.astro";
import HTML from "./icons/HTML.astro";
import Socket from "./icons/Websocket.astro";

const TECHNOLOGIES = [
  {
    name: "WebSocket",
    icon: Socket,
    color: "text-white",
  },
  {
    name: "HTML",
    icon: HTML,
    color: "text-orange-400",
  },
  {
    name: "Astro",
    icon: AstroIcon,
    color: "text-orange-400",
  },
  {
    name: "Next.js",
    icon: NextJS,
    color: "text-white",
  },
  {
    name: "Tailwind CSS",
    icon: Tailwind,
    color: "text-blue-400",
  },
  {
    name: "React",
    icon: React,
    color: "text-cyan-400",
  },
  {
    name: "JavaScript",
    icon: JavaScript,
    color: "text-yellow-400",
  },
  {
    name: "TypeScript",
    icon: TypeScript,
    color: "text-blue-500",
  },
  {
    name: "Node.js",
    icon: NodeJS,
    color: "text-green-500",
  },
  {
    name: "Python",
    icon: Python,
    color: "text-blue-400",
  },
  {
    name: "MySQL",
    icon: MySQL,
    color: "text-blue-300",
  },
  {
    name: "FastAPI",
    icon: FastAPI,
    color: "text-emerald-400",
  },
  {
    name: "C++",
    icon: CPP,
    color: "text-blue-600",
  },
  {
    name: "Express",
    icon: Express,
    color: "text-white",
  },
  {
    name: "Git",
    icon: Git,
    color: "text-red-500",
  },
];
---

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  {
    TECHNOLOGIES.map(({ name, icon: Icon, color }) => (
      <div class="flex flex-col items-center justify-center p-4 bg-white/5 border border-white/10 rounded-xl hover:bg-white/10 hover:border-white/20 hover:scale-105 transition-all group">
        <Icon
          class={`size-12 mb-2 ${color} group-hover:scale-110 transition-transform`}
        />
        <span class="text-sm font-medium text-gray-300 group-hover:text-white transition-colors">
          {name}
        </span>
      </div>
    ))
  }
</div>
